<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Engineering_Database.Properties.Settings.engineeringDatabaseConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\engineeringDatabase.accdb;Persist Security Info=True"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="UserName" value="Gatis Jansons"/>
    <add key="Email" value="Gatis Jansons" />
    <add key="SubAdmin1" value="Gatis Jansons"/>
    <add key="SubAdmin2" value="Gatis Jansons"/>
    <add key="database" value="default"/>
    <add key="jobCount" value="10"/>
    <add key="password" value="test" />
    
  </appSettings>
</configuration>