<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Engineering_Database.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <legacyUnhandledExceptionPolicy enabled="1" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.ProcessingObjectModel" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.WebForms" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="Level - %level%newlineMessage - %message%newlineIdentity-%username%newlineLocation-%location%newlineLine Number-%line%newlineMethod-%method%newline%newline" />
      </layout>
    </appender>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="D:\log4net logfiles\log.txt" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="Level - %level%newlineMessage - %message%newlineIdentity-%username%newlineLocation-%location%newlineLine Number-%line%newlineMethod-%method%newline%newline" />
      </layout>
    </appender>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="D:\log4net logfiles\logrolling.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maximumFileSize value="10MB" />
      <maxSizeRollBackups value="5" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="Level - %level%newlineMessage - %message%newlineIdentity-%username%newlineLocation-%location%newlineLine Number-%line%newlineMethod-%method%newline" />
      </layout>
    </appender>
    <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="FileAppender" />
      <appender-ref ref="RollingFileAppender" />
    </root>
  </log4net>
  <connectionStrings>
    <add name="Engineering_Database.Properties.Settings.engineeringDatabaseConnectionString"
      connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\engineeringDatabase.accdb;Persist Security Info=True;"
      providerName="System.Data.OleDb" />
    <add name="Engineering_Database.Properties.Settings.engineeringDatabaseConnectionStringForReport"
      connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\bin\x86\Release\engineeringDatabase.accdb;Persist Security Info=True;Jet OLEDB:Database Password=test"
      providerName="System.Data.OleDb" />
  </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="UserName" value="Gatis Jansons" />
    <add key="Email" value="Gatis Jansons" />
    <add key="SubAdmin1" value="Gatis Jansons" />
    <add key="SubAdmin2" value="Gatis Jansons" />
    <add key="database" value="default" />
    <add key="jobCount" value="10" />
    <add key="password" value="test" />
    <add key="preview" value="No" />
    <add key="contractors" value="Cock/ space/ new one" />
    <add key="assignTo" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <userSettings>
    <Engineering_Database.Properties.Settings>
      <setting name="UserName" serializeAs="String">
        <value>Gatis Jansons</value>
      </setting>
      <setting name="Email" serializeAs="String">
        <value>gatis.jansons@ipl-ltd.com</value>
      </setting>
      <setting name="SubAdmin1" serializeAs="String">
        <value>Gatis Jansons</value>
      </setting>
      <setting name="SubAdmin2" serializeAs="String">
        <value>Gatis Jansons</value>
      </setting>
      <setting name="database" serializeAs="String">
        <value>test</value>
      </setting>
      <setting name="jobCount" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="password" serializeAs="String">
        <value>test</value>
      </setting>
      <setting name="preview" serializeAs="String">
        <value>Yes</value>
      </setting>
      <setting name="contractors" serializeAs="String">
        <value>Contractor1/Contractor2/Contractor3</value>
      </setting>
      <setting name="assignTo" serializeAs="String">
        <value>Gatis Jansons/Ricardo Tirano/Marco Almeida/Ieva Grosvalde</value>
      </setting>
    </Engineering_Database.Properties.Settings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>